In [4]:
import pandas as pd
import numpy as np

In [10]:
# Read in rock.csv as a data frame
rock = pd.read_csv('/Users/Rebecca/DSI-projects/week02/3.2-lab/assets/datasets/rock.csv')
type(rock)
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [2]:
# The simplest pivot table must have a dataframe and an 
# index . Let’s use the ARTIST CLEAN as our index.

In [14]:
# How about indexing on multiple values. Let's look at the 
# data by ARTIST CLEAN and Release Year next. 

pd.pivot_table(rock, index=['ARTIST CLEAN', 'Release Year']).head()

                            F*G  First?  PlayCount  Year?
ARTIST CLEAN Release Year
.38 Special  1980          18.0     1.0       18.0    1.0
             1981          85.0     1.0       85.0    1.0
             1982          82.0     1.0       82.0    1.0
10cc         1975           1.0     1.0        1.0    1.0
3 Doors Down 2000           7.0     1.0        7.0    1.0

In [16]:
# What we really want to take a look at next is PlayCount. So, 
# the F*G, First?, and Year? columns aren’t useful. Let’s 
# remove them and explicitly define the 'PlayCount' column by 
# using the values field.

pd.pivot_table(rock, index=['ARTIST CLEAN', 'Release Year'], values=['PlayCount']).head()

                           PlayCount
ARTIST CLEAN Release Year
.38 Special  1980               18.0
             1981               85.0
             1982               82.0
10cc         1975                1.0
3 Doors Down 2000                7.0

In [19]:
# The 'PlayCount' column automatically averages the data.  
# We can do a count or a sum by using aggfunc and np.sum.

pd.pivot_table(rock, index=['ARTIST CLEAN', 'Release Year'], values=['PlayCount'], aggfunc = [np.sum, len]).head()

                                sum       len
                          PlayCount PlayCount
ARTIST CLEAN Release Year
.38 Special  1980                18         1
             1981                85         1
             1982                82         1
10cc         1975                 1         1
3 Doors Down 2000                14         2