In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [41]:
df = pd.read_csv('/Users/Rebecca/DSI-projects/week02/billboard.csv')

In [42]:
#df.head()

In [43]:
df['year'].describe()

# Remove df['year'] column because all entries are 2000
df.drop('year', axis=1, inplace = True)

In [44]:
print "Number of unique artist names: %s" %len(df['artist.inverted'].unique())
print "Number of songs: %s" %len(df)

Number of unique artist names: 228
Number of songs: 317

In [45]:
df['date.entered'] = pd.to_datetime(df['date.entered'])
df['date.peaked'] = pd.to_datetime(df['date.peaked'])

In [46]:
df['genre'].unique()

array(['Rock', "Rock'n'roll", 'Latin', 'Country', 'Rap', 'Pop',
       'Electronica', 'Jazz', 'R&B', 'Reggae', 'Gospel', 'R & B'], dtype=object)

In [47]:
df.head()

,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,"3,38,00 AM",Rock,2000-09-23,2000-11-18,78,63,49,33,...,*,*,*,*,*,*,*,*,*,*
1,Santana,"Maria, Maria","4,18,00 AM",Rock,2000-02-12,2000-04-08,15,8,6,5,...,*,*,*,*,*,*,*,*,*,*
2,Savage Garden,I Knew I Loved You,"4,07,00 AM",Rock,1999-10-23,2000-01-29,71,48,43,31,...,*,*,*,*,*,*,*,*,*,*
3,Madonna,Music,"3,45,00 AM",Rock,2000-08-12,2000-09-16,41,23,18,14,...,*,*,*,*,*,*,*,*,*,*
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),"3,38,00 AM",Rock,2000-08-05,2000-10-14,57,47,45,29,...,*,*,*,*,*,*,*,*,*,*

In [48]:
df['time'] = df['time'].str.split(',')
df['time'].head()
#total = []
#[total.append(df_new['time'][i][0]*60 + df_new['time'][i][1]) for i in range(len(df_new))]
#print total.head()

In [50]:
print df['time'].head

<bound method Series.head of 0      [3, 38, 00 AM]
1      [4, 18, 00 AM]
2      [4, 07, 00 AM]
3      [3, 45, 00 AM]
4      [3, 38, 00 AM]
5      [4, 17, 00 AM]
6      [4, 31, 00 AM]
7      [3, 36, 00 AM]
8      [3, 52, 00 AM]
9      [4, 25, 00 AM]
10     [3, 10, 00 AM]
11     [3, 18, 00 AM]
12     [4, 01, 00 AM]
13     [3, 52, 00 AM]
14     [4, 03, 00 AM]
15     [4, 12, 00 AM]
16     [4, 14, 00 AM]
17     [4, 04, 00 AM]
18     [3, 50, 00 AM]
19     [3, 43, 00 AM]
20     [4, 21, 00 AM]
21     [3, 50, 00 AM]
22     [3, 24, 00 AM]
23     [3, 48, 00 AM]
24     [3, 53, 00 AM]
25     [4, 05, 00 AM]
26     [4, 00, 00 AM]
27     [4, 16, 00 AM]
28     [4, 57, 00 AM]
29     [4, 34, 00 AM]
            ...
287    [3, 15, 00 AM]
288    [3, 44, 00 AM]
289    [3, 48, 00 AM]
290    [4, 08, 00 AM]
291    [4, 11, 00 AM]
292    [3, 54, 00 AM]
293    [4, 02, 00 AM]
294    [4, 10, 00 AM]
295    [3, 47, 00 AM]
296    [3, 23, 00 AM]
297    [4, 14, 00 AM]
298    [3, 46, 00 AM]
299    [5, 10, 00 AM]
300    [4, 43, 00 AM]
301    [4, 01, 00 AM]
302    [2, 58, 00 AM]
303    [4, 17, 00 AM]
304    [3, 44, 00 AM]
305    [4, 16, 00 AM]
306    [5, 02, 00 AM]
307    [4, 02, 00 AM]
308    [4, 24, 00 AM]
309    [4, 06, 00 AM]
310    [4, 00, 00 AM]
311    [3, 33, 00 AM]
312    [3, 04, 00 AM]
313    [3, 58, 00 AM]
314    [3, 30, 00 AM]
315    [3, 58, 00 AM]
316    [3, 22, 00 AM]
Name: time, dtype: object>

In [122]:
from time import strptime
def nice_time(split_time):
    new_time = split_time[0] + ":" + split_time[1]
    return new_time

In [133]:
new_time = []
[new_time.append(nice_time(df['time'][i])) for i in range(len(df))]
newer_time = []

OverflowError: mktime argument out of range