# Times University ranking dataset analysis

In this codealong we are going to analyze a ranking of universities using regression. Specifically, we are going to **predict the university ranking** with the provided predictors.

---

The information provided in the csv contains:

- **world_rank** - world rank for the university. Contains rank ranges and equal ranks (eg. =94 and 201-250).
- **university_name** - name of university.
- **country** - country of each university.
- **teaching** - university score for teaching (the learning environment).
- **international** - university score international outlook (staff, students, research).
- **research** - university score for research (volume, income and reputation).
- **citations** - university score for citations (research influence).
- **income** - university score for industry income (knowledge transfer).
- **total_score** - total score for university, used to determine rank.
- **num_students** - number of students at the university.
- **student_staff_ratio** - Number of students divided by number of staff.
- **international_students** - Percentage of students who are international.
- **female_male_ratio** - Female student to Male student ratio.
- **year** - year of the ranking (2011 to 2016 included).

We are going to predict the **total score**, which directly corresponds to the ranking.

---

### ONLY THE DATA PATH IS PROVIDED!

The analysis is up to you. This is an open ended practice. You are expected to:

- Load the packages you need to do analysis
- Perform EDA on variables of interest
- Form a hypothesis or hypotheses on what is important for the score
- Check your data for problems, clean and munge data into correct formats
- Create new variables from columns if necessary
- Perform statistical analysis with regression and describe the results

---

If you do not know how to do something **check documentation first.** I look up things in documentation all the time. 

**You are not expected to know how to do things by heart. Knowing how to effectively look up the answers on the internet is a critical skill for data scientists!**

In [1]:
uni_data_path = './dataset/timesData.csv'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
unidata = pd.read_csv(uni_data_path)

In [4]:
unidata.head(2)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011

In [5]:
unidata.dtypes

world_rank                 object
university_name            object
country                    object
teaching                  float64
international              object
research                  float64
citations                 float64
income                     object
total_score                object
num_students               object
student_staff_ratio       float64
international_students     object
female_male_ratio          object
year                        int64
dtype: object

In [6]:
def fill_in(x):
    new_x = []
    for i in x:
        if i == '':
            new_x.append('NaN')
        else:
            new_x.append(float(i))
    return new_x

In [7]:
unidata['international'] = unidata['international'].apply(lambda x: x.replace('-', ''))

In [8]:
unidata['international'] = fill_in(unidata['international'])

In [9]:
unidata['international'] = unidata['international'].apply(lambda x: float(x))

In [10]:
unidata['income'] = unidata['income'].apply(lambda x: x.replace('-', ''))

In [11]:
unidata['income'] = fill_in(unidata['income'])

In [12]:
unidata['income'] = unidata['income'].apply(lambda x: float(x))

In [13]:
unidata['total_score'] = unidata['total_score'].apply(lambda x: x.replace('-', ''))

In [14]:
unidata['total_score'] = fill_in(unidata['total_score'])

In [18]:
unidata['total_score'] = unidata['total_score'].apply(lambda x: float(x))

In [19]:
def num_cat(x):
    cat_list = []
    for i in x:
        cat_list.append(type(i))
    return set(cat_list)

In [20]:
num_cat(unidata['num_students'])

{float, str}

In [21]:
unidata['num_students'] = unidata['num_students'].apply(lambda x: float(x.replace(',', '')) if isinstance(x, str) else x)

In [22]:
num_cat(unidata['num_students'])

{numpy.float64}

In [23]:
unidata['num_students'] = fill_in(unidata['num_students'])

In [24]:
unidata['num_students'] = unidata['num_students'].apply(lambda x: float(x)) ## may not need this

In [25]:
pd.concat([unidata.drop('country',axis=1),pd.get_dummies(unidata['country'])], axis = 1)

,world_rank,university_name,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,...,Taiwan,Thailand,Turkey,Uganda,Ukraine,Unisted States of America,United Arab Emirates,United Kingdom,United States of America,Unted Kingdom
0,1,Harvard University,99.7,72.4,98.7,98.8,34.5,96.1,20152.0,8.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2,California Institute of Technology,97.7,54.6,98.0,99.9,83.7,96.0,2243.0,6.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3,Massachusetts Institute of Technology,97.8,82.3,91.4,99.9,87.5,95.6,11074.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4,Stanford University,98.3,29.5,98.1,99.2,64.3,94.3,15596.0,7.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5,Princeton University,90.9,70.3,95.4,99.9,NaN,94.2,7929.0,8.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,6,University of Cambridge,90.5,77.7,94.1,94.0,57.0,91.2,18812.0,11.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6,6,University of Oxford,88.2,77.2,93.9,95.1,73.5,91.2,19919.0,11.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,8,"University of California, Berkeley",84.2,39.6,99.3,97.8,NaN,91.1,36186.0,16.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8,9,Imperial College London,89.2,90.0,94.5,88.3,92.9,90.6,15060.0,11.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,10,Yale University,92.1,59.2,89.7,91.5,NaN,89.5,11751.0,4.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,11,"University of California, Los Angeles",83.0,48.1,92.9,93.2,NaN,87.7,38206.0,10.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11,12,University of Chicago,79.1,62.8,87.9,96.9,NaN,86.9,14221.0,6.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12,13,Johns Hopkins University,80.9,58.5,89.2,92.3,100.0,86.4,15128.0,3.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13,14,Cornell University,82.2,62.4,88.8,88.1,34.7,83.9,21424.0,10.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
14,15,ETH Zurich – Swiss Federal Institute of Techno...,77.5,93.7,87.8,83.1,NaN,83.4,18178.0,14.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,15,University of Michigan,83.9,53.3,89.1,84.1,59.6,83.4,41786.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
16,17,University of Toronto,75.8,NaN,87.9,82.2,NaN,82.0,66198.0,19.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,18,Columbia University,73.8,90.9,73.8,92.6,NaN,81.0,25055.0,5.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
18,19,University of Pennsylvania,71.8,32.9,82.7,93.6,43.7,79.5,20376.0,6.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19,20,Carnegie Mellon University,70.3,39.1,79.3,95.7,53.7,79.3,11885.0,13.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
20,21,University of Hong Kong,68.4,91.4,71.4,96.1,56.5,79.2,19835.0,17.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,22,University College London,74.0,90.8,81.6,80.6,39.0,78.4,26607.0,10.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22,23,University of Washington,68.2,49.0,77.1,95.9,32.8,78.0,44020.0,11.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
23,24,Duke University,66.8,49.4,71.5,92.3,100.0,76.5,15172.0,4.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
24,25,Northwestern University,64.5,60.5,68.8,95.3,NaN,75.9,18334.0,13.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25,26,University of Tokyo,87.7,18.4,91.9,58.1,NaN,75.6,26199.0,5.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,27,Georgia Institute of Technology,67.9,73.2,72.6,83.2,95.1,75.3,19967.0,20.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
27,28,Pohang University of Science and Technology,69.5,32.6,62.5,96.5,100.0,75.1,3055.0,10.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,29,"University of California, Santa Barbara",56.6,64.3,68.0,98.8,89.8,75.0,22020.0,27.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
29,30,University of British Columbia,65.1,93.3,74.8,80.3,42.6,73.8,50152.0,17.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2573,601-800,University of Tehran,26.1,16.5,16.9,15.8,NaN,NaN,53802.0,27.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2574,601-800,University of Texas at El Paso,18.6,30.4,18.7,18.4,NaN,NaN,19123.0,29.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2575,601-800,Texas Tech University,27.9,36.8,17.2,22.0,NaN,NaN,29512.0,20.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2576,601-800,Tokai University,17.9,19.3,7.6,15.3,34.4,NaN,29700.0,12.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2577,601-800,Tokushima University,25.3,16.8,21.6,12.8,59.6,NaN,7519.0,8.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2578,601-800,Tokyo University of Marine Science and Technology,27.9,24.5,12.4,7.7,57.9,NaN,2597.0,11.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2579,601-800,Tokyo University of Science,23.0,15.4,24.1,21.4,37.6,NaN,20243.0,25.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2580,601-800,Tomsk State University,34.8,36.9,20.8,7.6,44.0,NaN,10413.0,9.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2581,601-800,Tottori University,24.3,16.7,10.1,9.6,34.5,NaN,6248.0,8.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2582,601-800,Toyohashi University of Technology,22.0,25.4,18.9,15.8,50.3,NaN,2153.0,9.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2583,601-800,Universiti Kebangsaan Malaysia,24.3,29.7,15.9,10.9,28.4,NaN,24227.0,11.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2584,601-800,Universiti Putra Malaysia,25.3,50.1,20.9,10.2,34.2,NaN,23883.0,12.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2585,601-800,Universiti Sains Malaysia,26.9,44.2,16.6,12.4,34.4,NaN,28179.0,14.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2586,601-800,Universiti Teknologi MARA,15.2,14.8,7.7,18.2,28.3,NaN,69268.0,16.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2587,601-800,Ural Federal University,24.8,17.3,10.6,16.8,35.6,NaN,28427.0,10.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2588,601-800,V.N. Karazin Kharkiv National University,21.7,48.4,8.9,1.7,28.8,NaN,14410.0,9.7,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2589,601-800,University of Vigo,18.4,30.7,10.5,31.8,38.1,NaN,22793.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2590,601-800,Vilnius University,18.3,40.8,13.6,26.1,41.0,NaN,19019.0,14.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2591,601-800,Warsaw University of Technology,19.4,20.7,8.5,40.3,47.4,NaN,34572.0,14.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2592,601-800,Waseda University,23.6,29.7,14.6,29.4,32.4,NaN,52316.0,16.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2593,601-800,University of West Bohemia,16.3,23.1,9.7,29.8,32.1,NaN,15639.0,21.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2594,601-800,University of the West of England,16.9,48.5,11.2,34.6,28.5,NaN,22525.0,21.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2595,601-800,West University of Timişoara,16.1,21.0,3.9,22.4,NaN,NaN,12933.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596,601-800,University of Westminster,17.3,81.9,11.7,21.1,28.5,NaN,16609.0,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2597,601-800,Xidian University,17.9,12.8,12.1,8.9,83.7,NaN,31618.0,16.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2598,601-800,Yeungnam University,18.6,24.3,10.9,26.5,35.4,NaN,21958.0,15.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2599,601-800,Yıldız Technical University,14.5,14.9,7.6,19.3,44.0,NaN,31268.0,28.7,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2600,601-800,Yokohama City University,24.0,16.1,10.2,36.4,37.9,NaN,4122.0,3.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2601,601-800,Yokohama National University,20.1,23.3,16.0,13.5,40.4,NaN,10117.0,12.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2602,601-800,Yuan Ze University,16.2,17.7,18.3,28.6,39.8,NaN,8663.0,20.6,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
y = unidata['total_score']

In [ ]:
pd.concat([df.drop('status',axis=1),pd.get_dummies(df['status'])], axis = 1)