In [9]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [59]:
url_template = ['http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=', '&start=']
max_results_per_city = 200
list_of_cities=['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Atlanta', 'Seattle', \
                'San+Diego', 'Los+Angeles','Washington','Philadelphia']
results = []
for city in list_of_cities:
    for start in range(0, max_results_per_city, 10):
        URL=url_template[0]+city+url_template[1]+str(start)
        my_req=requests.get(URL)
        soup=BeautifulSoup(my_req.content,'lxml')
        results.append(soup)
        print '.',
    print city,

. . . . . . . . . . . . . . . . . . . . New+York . . . . . . . . . . . . . . . . . . . . Chicago . . . . . . . . . . . . . . . . . . . . San+Francisco . . . . . . . . . . . . . . . . . . . . Austin . . . . . . . . . . . . . . . . . . . . Atlanta . . . . . . . . . . . . . . . . . . . . Seattle . . . . . . . . . . . . . . . . . . . . San+Diego . . . . . . . . . . . . . . . . . . . . Los+Angeles . . . . . . . . . . . . . . . . . . . . Washington . . . . . . . . . . . . . . . . . . . . Philadelphia

In [61]:
titles = []
companies = []
salaries = []
locations = []
texts = []

for souplet in results:
    heb = souplet.findAll("div", class_=["row", "results"])
    for a in heb:
        
        try:
            title = a.find(class_="jobtitle").text.replace('\n','')
            titles.append(title)
        except: 
            titles.append(None)
            
        try:
            company = a.find(class_="company").text.strip()
            companies.append(company)
        except:
            companies.append(None)
        
        try: 
            salary = a.find('nobr').text
            salaries.append(salary)
        except:
            salaries.append(None)
            
        try:
            location = a.find('span', class_ = 'location').text
            locations.append(location)
        except:
            locations.append(None)
            
        try:
            text_body = a.find('span', class_='summary').text.replace('\n','')
            texts.append(text_body)
        except:
            texts.append(None)

3000
3000
3000
3000
3000

In [64]:
df = pd.DataFrame()
df['title'] = titles
df['company'] = companies
df['salary'] = salaries
df['location'] = locations
df['text'] = texts

In [66]:
for a in blah.find('a', class_'jobLink'):
    href = a['href']

3000

In [67]:
df['salary'].value_counts()

$40.39 - $60.60 an hour       17
$75,000 - $120,000 a year     14
$95 an hour                   13
$220,000 a year                2
$6,250 - $10,833 a month       2
$5,400 - $6,500 a month        2
$20 an hour                    2
$90,000 - $100,000 a year      2
$130,000 a year                2
$47,000 - $52,000 a year       1
$65,000 a year                 1
$170,000 a year                1
$120,000 - $150,000 a year     1
$65,000 - $110,000 a year      1
$70,000 - $80,000 a year       1
$100,000 a year                1
$160,000 - $200,000 a year     1
$54,000 a year                 1
$68,000 - $90,000 a year       1
$200,000 - $300,000 a year     1
$3,616 - $5,433 a month        1
$70 an hour                    1
$150,000 a year                1
$60,000 - $90,000 a year       1
$140,000 a year                1
$130,000 - $165,000 a year     1
$22.50 an hour                 1
$60,000 - $70,000 a year       1
$45,000 - $55,000 a year       1
$57,274 - $71,152 a year       1
$46,579 - $61,065 a year       1
$4,124 - $5,301 a month        1
Name: salary, dtype: int64

In [68]:
df['title'].value_counts()

Data Scientist                                                     1093
Senior Data Scientist                                               147
Lead Data Scientist                                                  60
Research Scientist                                                   35
Data Engineer                                                        34
Research Analyst                                                     30
Sr. Data Scientist                                                   28
Sr Data Scientist                                                    28
Quantitative Research Analyst                                        24
Senior Research Analyst                                              22
Market Research Analyst                                              22
Software Engineer / Research Scientist - Machine Learning Te...      22
Data Scientist - Big Data                                            21
Statistical Programmer II                                            21
Data Scientist/Modeling - Applied Technology - 13135                 21
Applied Machine Learning Scientist/Engineer - Relevance & Di...      20
Data Scientist (Experience Insights)                                 20
Statistician                                                         20
Data Scientist - Mission Analytics                                   20
Sr. Data Analyst - Machine Learning                                  20
Sr. Marketing Data Scientist                                         20
Advanced Analytics Manager                                           20
Manager, Decision Science                                            20
Data Scientist Intern                                                20
Senior Machine Learning Engineer                                     20
RESEARCH SCIENTIST - SURGERY MRG-E&R E&R Bldg.                       20
Data Scientist - Defense & Intelligence                              20
Database Marketing Statistician                                      20
Rotational Analyst (Quantitative Track)                              20
Data Analysis                                                        20
                                                                   ...
Analytical Scientist                                                  1
Scientist II                                                          1
Senior Data Scientist/Predictive Modeller                             1
Senior Statistical Analyst                                            1
Machine Learning PhD Internship - Summer 2017                         1
Data Scientist Manager - Global Growth                                1
Laser Technician                                                      1
Quantitative Analyst â€“ Portfolio Research                             1
Population Health Data Scientist, LIMR                                1
Scientist II, Systems Proteomics                                      1
Human Performance Research Scientist                                  1
Research Analyst I/II                                                 1
Customer Care Tier 2 Specialist                                       1
Social Scientist                                                      1
Technical Writer, Technical Communications Team                       1
Data Analyst / Research Analyst                                       1
Junior Data Scientist                                                 1
Director, Product Management (Analytics)                              1
Client Experience and Market Research Analyst                         1
Principal Scientist - GI Immunology Research                          1
Junior Data Scientist / Data Engineer                                 1
Billing Reimbursement - Refunds Specialist                            1
Production Scientist (Non-CLS)                                        1
Senior Scientist, Immuno Biologics - Immunology                       1
Advanced Analytics Enablement Big Data Senior Consultant              1
Data Scientist, Natural Language Processing                           1
Chief Data Analyst (Equity)                                           1
Senior Data Scientist Job                                             1
Senior Data Scientist, Search and Local                               1
Senior Software Scientist                                             1
Name: title, dtype: int64

In [ ]:
df['title'] = df['title'].apply(lambda x: x.replace('Sr', 'Senior'))
df['title'] = df['title'].apply(lambda x: x.replace('Sen.', 'Senior'))

if_data = []
for i in range(len(df)):
    if 'Data' in df['title'][i]:
        if_data.append(1)
    else:
        if_data.append(0)

In [69]:
from selenium import webdriver

In [ ]:
lil_request = requests.get(URL)
soup = BeautifulSoup(lil_request.content, "lxml")
leftcol = soup.find('ul', class_="jlGrid hover")

In [70]:
def get_jobs(URL):

    links = leftcol.find_all("a")
    j_names = leftcol.find_all("div",class_="flexbox empLoc")
    s_minmax = leftcol.find_all('span', class_='green small')
    s_posi = leftcol.find_all('div', class_= 'flexbox')
    
    #------------------------------------------------------------#
    job_name = []
    for n in j_names:
        job_name.append(n.find("div").text)
    #------------------------------------------------------------#
    salaries = []
    for s in s_minmax:
        salaries.append(s.text)
    #------------------------------------------------------------#
#     position = []
#     for p in s_posi:
#         position.append(p.text)
#     print position
    #------------------------------------------------------------#
    job_urls = []
    for l in links:
        job_urls.append("https://www.glassdoor.com/"+l.get("href"))
    job_urls = job_urls[0::2]
    #------------------------------------------------------------#
    
    
    
    data = pd.DataFrame({'Job Name and Loc': job_name,\
                         'Salary MINMAX':salaries,\
#                          'Position':position,\
                         'Job URLS': job_urls})
    
    return data

In [71]:
get_jobs('https://www.glassdoor.com/Job/data-scientist-jobs-SRCH_KO0,14.htm')

AttributeError: 'NoneType' object has no attribute 'find_all'