What customers are from the UK?

SELECT * FROM Customers WHERE Country = 'UK';

4	Around the Horn	Thomas Hardy	120 Hanover Sq.	London	WA1 1DP	UK

11	B's Beverages	Victoria Ashworth	Fauntleroy Circus	London	EC2 5NT	UK

16	Consolidated Holdings	Elizabeth Brown	Berkeley Gardens 12 Brewery	London	WX1 6LT	UK

19	Eastern Connection	Ann Devon	35 King George	London	WX3 6FW	UK

38	Island Trading	Helen Bennett	Garden House Crowther Way	Cowes	PO31 7PJ	UK

53	North/South	Simon Crowther	South House 300 Queensbridge	London	SW7 1RZ	UK

72	Seven Seas Imports	Hari Kumar	90 Wadhurst Rd.	London	OX15 4NB	UK

What is the name of the customer who has the most orders?

SELECT COUNT(Orders.OrderID), Customers.CustomerName

FROM Customers

JOIN Orders

ON Orders.CustomerID = Customers.CustomerID

GROUP BY Orders.CustomerID

ORDER BY COUNT(Orders.OrderID) DESC LIMIT 1;

How many different countries are customers from (Hint: Look at the DISTINCT operator)

SELECT COUNT(DISTINCT(Customers.Country)) FROM Customers;

What supplier has the highest average product price?

SELECT AVG(Products.Price), Suppliers.SupplierID, Suppliers.SupplierName

FROM Products

JOIN Suppliers

ON Suppliers.SupplierID = Products.SupplierID

GROUP BY Suppliers.SupplierID

ORDER BY AVG(Products.Price) DESC;

140.75	18	Aux joyeux eccl√©siastiques

What category appears in the most orders?

In [ ]:
What employee made the most sales (by number of sales)?

In [ ]:
What employee made the most sales (by total value of sales)?

In [ ]:
What Employees have BS degrees? (Hint: Look at LIKE operator)

In [ ]:
What supplier has the highest average product price assuming they have at least 2 products (Hint: Look at the HAVING operator)