In [2]:
# reserve the first cell, to import all dependencies (python classes) that you will need

import numpy as np
import pandas as pd
import statsmodels.api as sm

In [3]:
# keep all functions in one cell, call them when you need them. 
def read_file(path): # path = dynamic input parameter
    return pd.read_csv(path, header = None)

In [12]:
# use function to read in cancer Dataset. 
path = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data"
df = read_file(path)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [56]:
# find data dictionary of df
#df.dtypes

In [37]:
# Obtain the first 10 features, which are the mean figures in the dataset, 
# call your dataFrame with only the features, data_df, and  the dataframe with only 
# the outcome ( or response/label) target_df
nice_df = df.loc[:, 0:9]
nice_df.columns = ['var1', 'target', 'var2', 'var3', 'var4', 'var5', 'var6', 'var7', 'var8', 'var9']
nice_df = nice_df[['target', 'var1', 'var2', 'var3', 'var4', 'var5', 'var6', 'var7', 'var8', 'var9']]

In [38]:
nice_df.head()

,target,var1,var2,var3,var4,var5,var6,var7,var8,var9
0,M,842302,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710
1,M,842517,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017
2,M,84300903,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790
3,M,84348301,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520
4,M,84358402,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430

In [36]:
nice_df.columns[0:9]

Index([u'var1', u'var2', u'var3', u'var4', u'var5', u'var6', u'var7', u'var8',
       u'var9'],
      dtype='object')

In [41]:
type(nice_df.columns[0:9])

pandas.indexes.base.Index

In [59]:
#dummy_ranks = pd.get_dummies(nice_df['tar...'], prefix="prestige") #...HOLD UP no dummies here
target = nice_df['target']
target_update = target.map({'M' : 1, 'B' : 0})
nice_df["intercept"] = 1.0
train_cols = nice_df.loc[:, 'var1':'intercept']
train_cols.head()

,var1,var2,var3,var4,var5,var6,var7,var8,var9,intercept
0,842302,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,1.0
1,842517,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,1.0
2,84300903,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,1.0
3,84348301,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,1.0
4,84358402,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,1.0

In [60]:
# Convert DataFrame to Numpy Array
x = train_cols.as_matrix(columns=None)
y = target_update.as_matrix(columns=None)

In [63]:
logit = sm.Logit(target_update, train_cols)

result = logit.fit()
result.summary2()

Optimization terminated successfully.
         Current function value: 0.130887
         Iterations 10

<class 'statsmodels.iolib.summary2.Summary'>
"""
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.802
Dependent Variable: target           AIC:              168.9490
Date:               2016-06-28 11:20 BIC:              212.3878
No. Observations:   569              Log-Likelihood:   -74.475
Df Model:           9                LL-Null:          -375.72
Df Residuals:       559              LLR p-value:      6.1147e-124
Converged:          1.0000           Scale:            1.0000
No. Iterations:     10.0000
-------------------------------------------------------------------
             Coef.    Std.Err.     z     P>|z|    [0.025    0.975]
-------------------------------------------------------------------
var1         -0.0000    0.0000  -0.4475  0.6545   -0.0000    0.0000
var2         -1.8310    3.5355  -0.5179  0.6045   -8.7605    5.0984
var3          0.3792    0.0633   5.9892  0.0000    0.2551    0.5033
var4         -0.0585    0.4785  -0.1223  0.9027   -0.9963    0.8793
var5          0.0370    0.0160   2.3103  0.0209    0.0056    0.0683
var6         81.0128   32.6215   2.4834  0.0130   17.0758  144.9497
var7         -7.8111   15.4464  -0.5057  0.6131  -38.0855   22.4633
var8          8.0131    7.7405   1.0352  0.3006   -7.1580   23.1841
var9         69.7539   28.5361   2.4444  0.0145   13.8242  125.6836
intercept   -10.9203   10.6794  -1.0226  0.3065  -31.8515   10.0109
==================================================================

"""

In [66]:
### specify the model, call the final fit, md1_fit, hint use MNLogit from class SM, 
# and call the .fit() method on the object

In [ ]:
### print model summary ###

In [ ]:
### print the aic and bic metrics ###

In [ ]:
### get the marginal effects of your fitted model md1_fit ###
mdl_margeff = mdl_fit.get_margeff()

In [ ]:
mdl_margeff.summary()